@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.card-body {
  padding: 0px;
  position: relative;
  background: black;
  margin: 4px;
  width: 250px;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
}

.card-body img {
  display: inline-block;
  width: 97%;
  height: 80%;
  border-radius: 10px 10px 10px 0;
  padding-top: 5px
}

.movie-info {
  color: white;
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-family: 'Oswold', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  
}


@media (max-width: 550px) {
  .card-body {
    width: 210px;
    margin: 3px;
  }
}

@media (min-width: 551px) and (max-width: 700px) {
  .card-body {
    width: 230px;
    margin: 3px;
  }
}
