@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.card-body {
  padding: 0px;
  position: relative;
  background: black;
  margin: 10px;
  width: 250px;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
}

.card-body img {
  width: 97%;
  height: 50%;
  border-radius: 10px 0;
}

.movie-info {
  color: white;
  position: absolute;
  bottom: 5px;
  text-align: center;
  font-family: 'Oswold', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}



@media (max-width: 700px) {
  .card-body {
    width: 200px;
  }
}