* {
  margin: 0px;
  scroll-behavior: smooth;
}

.home-container {
  padding: 115px 0;
}

.app {
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  scroll-behavior: smooth;
  min-height: 100vh;
}

@media (max-width: 1000px) {
  .home-container {
    padding: 90px 0;
  }
}